@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --foreground-light: #b9b9b9;
  --foreground-faded: #b9b9b92c;
  
  --background: #0a0a0a;
  --background-light: #0c0c0c98;
  --background-faded: #0c0c0c2c;

  --accent: #ff8800;
  --accent-dark: #d47602;

  --font-size: 1rem;
  --font-ratio: 1.8;
}

@media (max-width: 768px) {
  :root {
    --font-ratio: 1.5;
    --font-size: 0.9rem;
  }
}

[data-theme='light'] {
  --foreground: #0c0c0c;
  --foreground-light: #4a4a4a;
  --foreground-faded: #4a4a4a2c;
  --background: #ffffff;
  --background-light: #ffffff98;
  --background-faded: #ffffff2c;
}

.theme-transition * {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Nunito Sans", serif; */
  font-family: "Funnel Display", serif;
  color: var(--primary);
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  /* font-family: "Funnel Display", serif; */
  font-family: "Nunito Sans", serif;
}

h1 {
  font-size: calc(
    var(--font-size) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)
  );
  text-transform: uppercase;
}

h2 {
  font-size: calc(var(--font-size) * var(--font-ratio) * var(--font-ratio));
}

h3 {
  font-size: calc(var(--font-size) * var(--font-ratio));
  font-weight: 600;
}

h4 {
  font-size: calc(var(--font-size));
}

p,
li,
label {
  font-size: calc(var(--font-size) * 1);
  color: var(--foreground-light);
}

[data-theme='light'] .product-card-title {
  color: var(--background);
}

.product-card-price {
  text-wrap: nowrap;
}

[data-theme='light'] .product-card-price {
  color: var(--background-light);
  text-wrap: nowrap;
}

.grotesk {
  font-family: 'Host Grotesk', serif;
}

.italiana {
  font-family: 'Italiana', serif;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: var(--background-faded);
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: var(--foreground-faded);
  transition: all .3s ease;
  cursor: pointer;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: var(--foreground-light);
}

.close-cursor {
  cursor: url('/images/close-cursor.webp'), auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.6s linear;
}

.transparent-gradient {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0) 50%
  );
}

.animated-gradient {
  background: linear-gradient(290deg, #000000, #464444, #151414);
  background-size: 180% 180%;
  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid var(--foreground); */
  -webkit-text-fill-color: var(--foreground);
  -webkit-box-shadow: 0 0 0px 1000px var(--background) inset;
  transition: background-color 5000s ease-in-out 0s;
}

html {
  height: 100dvh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
  scroll-behavior: smooth;
  background: var(--background);

  body {
    color: var(--foreground);

    header, .admin-nav {
      width: 100vw;
      padding: .5rem 2rem;
    }

    section {
      width: 100%;
      height: fit-content;
      overflow: hidden;
      flex-shrink: 0 !important;
      padding: 1rem 2rem;
      animation: fadeIn 0.5s linear;
    }

    @media (max-width: 768px) {
      header, .admin-nav {
        padding: 0.8rem 1rem;
      }
      section {
        width: 100%;
        padding: 1rem 1rem;
      }
    }
  }
}